*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    }


.cabeçalho {
    background-color: #7CB632;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }


    .cabeçalho-imagem{
        width: 20%;
    }

    .cabeçalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 24px;
    }

    .promoção-imagem{
        width: 25%;
    }

    .promoção{
        background-image: linear-gradient(#7CB632,#23B276);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }

    .promoção-div-conteudo{
        width: 35%;
    }

    .promoção-título{
        padding: 24px 0;
    }

    .promoções-internacionais-imagem{
        width: 120px 0;
    }

    .promoções-título{
        text-align: center;
        padding: 50px 0;
    }
    
    .final{
        background-color: #7CB632;
        display: flex;
        justify-content: center; align-items: center;
        width: 120%;

    }

     

